<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">


</head>
<body>
    <div class="card col-4 p-3 mt-3 ml-15">
        <h1 class="text-center mb-3">Contacto</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
        <div class="mb-3 col-12">
            {{ form.nombre.label}}
            {{ form.nombre(class="form-control") }}
        </div>
        <div class="mb-3 col-12">
            {{ form.correo.label }}
            {{ form.correo(class="form-control") }}
        </div>
        <div class="mb-3 col-12">
            {{ form.mensaje.label }}
            {{ form.mensaje(class="form-control") }}
        </div>
        
            {{ form.enviar(class="btn btn-primary") }}
            
        </form>
    </div>
    
</body>
</html>